[options]
        UseSyslog

[openEgidaApiWorker]
 sequence = {{ port_sequence_open | join(",") }}
 seq_timeout = 5
 command = ufw allow {{open_port}}/tcp
 tcpflags = syn

[closeEgidaApiWorker]
 sequence = {{ port_sequence_close | join(",") }}
 seq_timeout = 5
 command = ufw delete allow {{open_port}}/tcp
 tcpflags = syn